<div class="one-order">
	
	<img class="orderImage pizza-icon" alt="Піца" src=<%= pizza.icon %>>
	
	<p class="orderHeader"><%= pizza.title %> (<%if(size == "big_size") { %>Велика<% } %><%if(size == "small_size") { %>Мала<% } %>)</p>
	
	<div class="orderInfo">
		<img src="assets/images/size-icon.svg" /> <span class="size"><%= pizza[size].size %></span>
		<img src="assets/images/weight.svg" /> <span class="size"><%= pizza[size].weight %></span>
	</div>
	
    <div class="price-box">
		
		<span class="price">
			<span class="amountPrice"><%= pizza[size].price %></span>
			грн
		</span>
        <button class="minus btn bth-xs btn-cirlce btn-danger">&#8722</button>
        <span class="quantity"><%= quantity %></span> <span class="pizzaAmountName"></span>
        <button class="plus btn bth-xs btn-cirlce btn-success">+</button>
		<button class="delete btn bth-xs btn-cirlce btn-default">&#10006</button>
    </div>
</div>